@font-face {
  font-family: 'fontawesome';
  src: url('assets/font/icons/fontawesome-webfont.eot?v=4.7.0');
  src: url('assets/font/icons/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  url('assets/font/icons/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
  url('assets/font/icons/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  url('assets/font/icons/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
  url('assets/font/icons/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}

@font-face {
  font-family: 'Catamaran-Black';
  src: url('assets/font/catamaran/Catamaran-Black.ttf');
}

@font-face {
  font-family: 'Catamaran-Bold';
  src: url('assets/font/catamaran/Catamaran-Bold.ttf');
}

@font-face {
  font-family: 'Catamaran-ExtraBold';
  src: url('assets/font/catamaran/Catamaran-ExtraBold.ttf');
}

@font-face {
  font-family: 'Catamaran-ExtraLight';
  src: url('assets/font/catamaran/Catamaran-ExtraLight.ttf');
}

@font-face {
  font-family: 'Catamaran-Light';
  src: url('assets/font/catamaran/Catamaran-Light.ttf');
}

@font-face {
  font-family: 'Catamaran-Medium';
  src: url('assets/font/catamaran/Catamaran-Medium.ttf');
}

@font-face {
  font-family: 'Catamaran-Regular';
  src: url('assets/font/catamaran/Catamaran-Regular.ttf');
}

@font-face {
  font-family: 'Catamaran-SemiBold';
  src: url('assets/font/catamaran/Catamaran-SemiBold.ttf');
}

@font-face {
  font-family: 'Catamaran-Thin';
  src: url('assets/font/catamaran/Catamaran-Thin.ttf');
}
