app-issue-details {
  ul {
    margin: 20px;
    li {
      padding: 10px;
    }
  }
  button {
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
    display: block;
    margin: 20px auto;
  }
}
